@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --slate-300: #D5E1EF;
    --slate-500: #68778D;
    --slate-900: #1F314F;
    --white-100: #FFFFFF;
    --space-200: 16px;
    --space-300: 24px;
    --space-500: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 500px;
    padding: var(--space-200) var(--space-200) var(--space-500);
    background-color: var(--white-100);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img{
    margin-bottom: var(--space-200);
}

h1{
    font-size: 22px;
    font-weight: 700;
    color: var(--slate-900);
    letter-spacing: 0px;
    line-height: 120%;
    text-align: center;
    margin-bottom: var(--space-200);
}

p{
    font-size: 15px;
    color: var(--slate-900);
    letter-spacing: 0.2px;
    line-height: 140%;
    text-align: center;
}